@page "/"

<PageTitle>Index</PageTitle>

<div class="container my-5">
  <h1 class="text-center">PROGRAMACION APLICADA</h1>
  <p class="text-muted text-center">Programa de Registro para la materia de programacion aplicada by: Wilber Galvez 2020-0482.</p>

  
    


</div>