@page "/"

<PageTitle>Index</PageTitle>

<div class="container my-5 text-primary">
  <h1 class="text-center">PROGRAMACION APLICADA </h1>
  <p class="text-muted text-center">Programa de Registro para la materia de programacion aplicada by: Wilber Galvez 2020-0482.</p>

  
    <img src="https://www.howtogeek.com/wp-content/uploads/csit/2021/08/bca5f5f6-1.png?height=200p&trim=2,2,2,2" alt="Imagen Blazor" width="900" height="400"  style="display: block; margin-left: auto; margin-right: auto;"> 


</div>